<app-table class="fit-content" data="$data">
    <slot slot="table-head">
        <div class="table-cell"> Nome </div>
        <div class="table-cell"> Nome Secundário </div>
        <div class="table-cell"> Código </div>
        <div class="table-cell"> Preço </div>
        <div class="table-cell"> SubCategoria </div>
        <div class="table-cell"> Estado </div>
    </slot>
    <slot slot="table-body">
        <div class="table-row flex-it" e-skeleton
            e-req="item of produto?page={{navControl.page}}&size={{navControl.size}} | where:search:nome,nomeSecundario,codigo,subCategoria.nome"
            on:request="onRequest" on:response="onResponse">
            <div class="card-cover"></div>
            <div class="pointer table-cell">
                <a :href="/products/view/{{ item.uid }}" e-text="{{ item.nome }}"> Loading... </a>
            </div>
            <div class="pointer table-cell" e-text="{{ item.nomeSecundario }}"> Loading... </div>
            <div class="table-cell hidable" e-text="{{ item.codigo }}"> Loading... </div>
            <div class="table-cell hidable" e-text="{{ item.precoUnitario }} Akz"> Loading... </div>
            <div class="table-cell hidable" e-text="{{ item.subCategoria.nome }}"> Loading... </div>
            <div class="table-cell">
                <span e-text="{{ item.visibility ? 'Activo' : 'Inactivo' }}"> Loading... </span>
                <div>
                    <div class="item-options flex-it hide-it">
                        <div>
                            <a :href="/products/view/{{ item.uid }}">
                                <button class="see">Ver</button>
                            </a>
                        </div>
                        <div>
                            <button class="rem">Eliminar</button>
                        </div>
                    </div>
                    <span title="Opções" onclick="event.target.previousElementSibling.classList.toggle('hide-it')"
                        class="fa fa-dot-circle-o"></span>
                </div>
            </div>
        </div>
    </slot>
</app-table>
<script>
    var bouer = this.bouer;
    var component = this;

    this.on('loaded', function () {
        // Marking the menu
        bouer.data.currentPage = 'Lista de Produtos';
        bouer.$routing.markActiveAnchor(bouer.el.querySelector('.product-link'));
    });

    this.export({
        search: '',
        navControl: {
            page: 1,
            size: 13,
            pages: 0
        },
        onSearch: function (str, input) {
            component.data.search = str;
            return; // TODO: Request in the server
            bouer.$skeleton.clear('data-loading');
        },
        onNextPage: function (control) {
            component.data.navControl = control;
        },
        onPrevPage: function (control) {
            component.data.navControl = control;
        },
        onRequest: function (evt) {
            // if (searcher) searcher.classList.add('loading-input');
        },
        onResponse: function (evt) {
            // if (searcher) searcher.classList.add('loading-input');
            var response = evt.detail.response;
            component.data.navControl.pages =
                response.pagination.totalPages;
        }
    });
</script>