.vs
.vscode

Billing.Service/bin
Billing.Service/obj

Billing.Shared/bin
Billing.Shared/obj

Billing.App/bin
Billing.App/obj

Billing.App/Attachments

Billing.Tests/bin
Billing.Tests/obj

Billing.Reports/bin
Billing.Reports/obj

.fake
.ionide