<settings-wrapper data="$data">
    <div class="partial splitted-editing editable-left">
        <div class="left nice-scroll">
    
            <div class="description">
                <h3>Licença</h3>
            </div>

            <div class="row">
                <div class="value-area">
                    <div class="ident">
                        <p>Data de Aplicação</p>
                    </div>
                    <div class="value">
                        <p>2019-10-28</p>
                    </div>
                </div>
                <div class="icon-area">
                    <span class="center-icon fa fa-circle"></span>
                </div>
            </div>

            <div class="row">
                <div class="value-area">
                    <div class="ident">
                        <p>Data de Expiração</p>
                    </div>
                    <div class="value">
                        <p>2020-10-28</p>
                    </div>
                </div>
                <div class="icon-area">
                    <span class="center-icon fa fa-circle"></span>
                </div>
            </div>

                            
            <div class="row">
                <div class="center-area">
                    <h2>364 dias restantes</h2>
                </div>
            </div>

            <div class="row column-type">
                <div class="input-field">
                    <label>Codigo</label>
                    <input type="text" placeholder="12345678-9ABC-DFGH-IJKL-MNOP-QRSTUVWX">
                </div>
            </div>

            <div class="row">
                <div class="center-area">
                    <button type="button" class="primary-button">Aplicar</button>
                </div>
            </div>
        </div>
        <div class="right" id="loadable"></div>
    </div>
</settings-wrapper>
<script>
    var component = this;
    this.export({
        active: 'license'
    });
</script>