<settings-wrapper data="$data">
    <div class="partial splitted-editing editable-left">
        <form class="left nice-scroll" find-me>
            <div class="description">
                <h3>Adicionar Estabelecimento</h3>
            </div>

            <div class="row column-type">
                <div class="input-field">
                    <label>Nome</label>
                    <input type="text" name="Nome" placeholder="Nome do Estabelecimento">
                </div>

                <div class="input-field">
                    <label>Gerente</label>
                    <select>
                        <option value="" selected>Seleccione um Gerente</option>
                    </select>
                </div>

                <div class="input-field">
                    <label>Regime</label>
                    <select>
                        <option value="" selected>Seleccione um Regime</option>
                        <option e-req="item of Regime" e-value="{{ item.id }}" e-text="{{ item.nome }}">
                            Loading...</option>
                    </select>
                </div>

                <div class="input-field">
                    <label>Endereco</label>
                </div>

                <app-address e-build="Endereco" data="{ actions: false }"></app-address>
            </div>

            <div class="row">
                <div class="action-area btn-ordered">
                    <button type="reset" class="cancel-type" onclick="window.history.back()">Voltar</button>
                    <button type="button" class="submit-type" on:click="submit">Criar</button>
                </div>
            </div>
        </form>
        <div class="right nice-scroll" id="loadable"></div>
    </div>
</settings-wrapper>
<script>
    var bouer = this.bouer;
    var web = bouer.deps['web'];
    var component = this;

    this.export({
        active: 'establishment',
        submit: function (evt) {
            var btn = evt.currentTarget;
            var form = aboveMe(btn, 'form');

            if (hasSpinner(btn)) return;
            addOrRemSpinner(btn);

            web('estabelecimento', 'post', JSON.stringify(bouer.toJsObj(form)))
                .then(function () {
                    notify({
                        type: 'success',
                        message: 'Registro Criado',
                        run: function () {
                            bouer.$routing.navigate("/settings/apps");
                        }
                    });
                })
                .finally(function () {
                    addOrRemSpinner(btn, true);
                });
        }
    });
</script>