<div class="main-body chat base-divide-structure fit-content">
    <div class="content">
        <div class="input-side card">
            <div class="left conversations hiddable-panel-left">
                <span title="Fechar Resumo"
                    class="reduced-screen-button center-icon fa fa-remove resume-calculador-closer"
                    onclick="event.target.aboveMe().classList.remove('show-left');"></span>

                <div class="header">
                    <h3>Conversações</h3>
                </div>
                <div class="body">
                    <div class="conversations-container fit-content-nonspace nice-scroll">

                        <div class="row is-selected">
                            <div class="user-info">
                                <div class="icon">
                                    <p>AM</p>
                                    <span class="is-online"></span>
                                </div>
                                <div class="info">
                                    <h4>Afonso Matumona</h4>
                                    <small>Loja Central</small>
                                </div>
                                <div class="time">
                                    <small>12:03</small>
                                </div>
                            </div>
                            <div class="message-info">
                                Olá, tudo bem?
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="right message-container">
                <div class="user-description-bar">
                    <div class="left">
                        <span on:click="showPanel(event, 'left')" class="reduced-screen-bottom center-icon fa fa-comments chat-panel"></span>
                    </div>
                    <div class="middle">
                        <span class="user-presentation" e-content="{{ user.name }}"></span>
                    </div>
                    <div class="right">
                        <span on:click="showPanel(event, 'right')" class="reduced-screen-bottom center-icon fa fa-users users-panel"></span>
                    </div>
                </div>

                <div class="body">
                    <div class="messages-container fit-content-nonspace nice-scroll">

                        <div class="no-messages" e-if="messages.length === 0">
                            <span class="icon-wrapper">
                                <span class="fa fa-comments center-icon"></span>
                            </span>
                            <p>Sem mensagens ainda</p>
                        </div>

                        <div e-for="item of messages" e-class="{ 'is-user': item.usuarioFromId == ref }"
                            class="message-bubble-container" e-anm="up">
                            <div class="message-bubble">
                                <div class="owner">
                                    <span e-content="{{ getAchronym(item.usuarioToName) }}">##</span>
                                </div>
                                <div class="message" e-content="{{ item.content }}">
                                    Loading...
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="loading-section" e-if="loadingMessages">
                    <span class="is-loading"></span> <span>Loading Messages...</span>
                </div>

                <div class="compose-container">
                    <div class="left">
                        <span class="fa fa-plus" title="Adicionar Anexo"></span>
                    </div>
                    <div class="middle">
                        <div class="composer nice-scroll" contenteditable="true" spellcheck="false" tabindex="-1"></div>
                    </div>
                    <div class="right">
                        <span class="fa fa-paper-plane-o center-icon" title="Enviar Mensagem"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="images-side default-side hiddable-panel-right">
            <span title="Fechar Resumo"
                    class="reduced-screen-button center-icon fa fa-remove resume-calculador-closer"
                    onclick="event.target.aboveMe().classList.remove('show-right');"></span>

            <div class="card user-info-v-card">
                <div class="icon">
                    <p>AM</p>
                    <span class="is-online"></span>
                </div>

                <div class="info">
                    <h4>Afonso Matumona</h4>
                </div>

                <div class="info">
                    <label>Funcionario</label>
                </div>

                <div class="info">
                    <small>Loja Central</small>
                </div>
            </div>
            <div class="online-users card">
                <div class="header">
                    <h4>Usuários</h4>
                </div>
                <div class="body">
                    <div class="users-container fit-content-nonspace nice-scroll">

                        <div class="row">
                            <div class="user-info">
                                <div class="icon">
                                    <p>AM</p>
                                    <span class="is-online"></span>
                                </div>
                                <div class="info">
                                    <h4>Afonso Matumona</h4>
                                    <small>Loja Central</small>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var component = this;
    var $easy = this.Easy;
    this.loaded = function (el) {
        this.Easy.data.currentPage = 'Chat';
        $easy.routing.markActive($easy.el.node('.chat-link'));

        if (this.Easy.data.showConversation)
            this.Easy.data.showConversation = false;
    }

    this.export({
        ref: 1, // The logged user Id
        loadingMessages: false,
        chats: [],
        onlineUsers: [],
        user: {
            name: 'Antonio Lopes',
            role: 'Vendedor',
            establishment: 'Loja Central',
        },
        messages: [

            // {
            //     usuarioToName: 'Afonso Matumona',
            //     usuarioToId: 2,
            //     usuarioFromId: 1,
            //     content: 'Fala aí, meu mano?'
            // }, {
            //     usuarioToName: 'Antonio Ferraz',
            //     usuarioToId: 1,
            //     usuarioFromId: 2,
            //     content: 'Nas calmas, brozy. E aí?'
            // }
        ],

        // Methods
        showPanel: function (evt, prop) {
            var container = evt.base.aboveMe('.chat.main-body');
            container.node('.hiddable-panel-' + prop).classList.add('show-' + prop);
        }
    });
</script>