<div class="main-body card inner-css has-search-bar nice-scroll">
    <div class="app-table">
        <div class="table-top">
            <div class="table-row flex-it">
                <div class="search-field">
                    <span class="fa fa-search"></span>
                    <input type="text" name="seacher" placeholder="Pesquisar por..." e-bind="search"
                        on:input="searchInput">
                </div>
            </div>
        </div>
        <div class="table-head">
            <div class="table-row flex-it">
                <slot name="table-head"></slot>
            </div>
        </div>
        <div class="table-body nice-scroll">
            <slot name="table-body"></slot>
        </div>

        <div class="table-nav" e-show="typeof navControl !== 'undefined'">
            <div class="items-nav-button">
                <div class="nav-area">
                    <span class="nav center-icon fa fa-angle-left" on:click="prevPage"></span>
                    <span data="{ control: typeof navControl === 'undefined' ? {} : navControl }" class="description">
                        {{ control.pages == 0 ? 0 : (control.page || 0) }} de {{ control.pages || 0 }}
                    </span>
                    <span class="nav center-icon fa fa-angle-right" on:click="nextPage"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var watch = null;
    var compontent = this;
    var bouer = this.bouer;

    this.export({
        search: '',
        searchInput: function (evt) {
            if (!this.data.onSearch) return;
            this.data.onSearch(evt.target.value, evt.target);
        },
        nextPage: function () {
            if (!this.data.onNextPage || !this.data.navControl) return;

            var page = this.data.navControl.page;
            var pages = this.data.navControl.pages;
            if (page >= pages) return;

            this.data.navControl.page++;
            this.data.onNextPage(this.data.navControl);
        },
        prevPage: function () {
            if (!this.data.onPrevPage || !this.data.navControl) return;

            var page = this.data.navControl.page;
            if (page <= 1) return;

            this.data.navControl.page--;
            this.data.onPrevPage(this.data.navControl);
        }
    });
</script>

<style scoped>
    .app-table {
        color: var(--color-text);
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .app-table .table-head {
        text-transform: uppercase;
        text-transform: uppercase;
        font-size: 10.5pt;
        margin: 2px 0;
    }

    .app-table .table-cell {
        position: relative;
        margin: 5px 2px;
        flex: 1;
        padding: 0 4px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .app-table .table-head .table-cell {
        padding-left: 4px;
    }

    .app-table .table-cell.mid {
        flex: .5;
    }

    .app-table .table-row {
        padding: 4px 0;
    }

    .app-table .table-body {
        flex: 1;
    }

    .app-table .table-body .table-row {
        margin: 5px 0;
        background-color: var(--color-row);
        border-left: 3px solid var(--color-hover);
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        position: relative;
    }

    .app-table .table-body .table-row .table-cell {
        display: flex;
        align-items: center;
        font-size: 11pt;
    }

    .app-table .table-body .table-row .table-cell:last-child {
        display: flex;
    }

    .app-table .table-body .table-row .table-cell:last-child>span {
        flex: 1;
    }

    .app-table .table-body .table-row .table-cell:last-child>div {
        width: 24px;
    }

    .app-table .table-body .table-row .table-cell:last-child>div .fa {
        position: relative;
        padding-left: 5px;
        cursor: pointer;
        z-index: 3;
    }

    .app-table .table-body .table-nav {
        padding-top: 6px;
    }

    .card-cover {
        display: none;
    }

    .item-options {
        background-color: var(--color-input);
        position: absolute;
        z-index: 2;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
    }

    .item-options>div {
        margin: 0 5px;
    }

    .item-options button {
        padding: 2px 8px;
    }

    .item-options button.see {
        background-color: transparent;
        color: var(--color-green);
    }

    .item-options button.rem {
        background-color: transparent;
        color: var(--color-red);
    }

    .card-type .hidable {
        display: none;
    }

    .card-type .table-head {
        display: none;
    }

    .card-type .table-body .table-row {
        box-shadow: var(--shadow);
        border: none;
        border-radius: 4px;
        width: 165px;
        display: inline-table;
        margin: 5px;
        padding: 0;
        padding-bottom: 4px;
        overflow: hidden;
    }

    .card-type .table-body .table-row .card-cover {
        position: relative;
        display: block;
        height: 120px;
        background-color: var(--color-light);
        background-image: url(./assets/images/box.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .card-type .table-body .table-row .card-cover+.table-cell {
        font-size: 13pt;
    }

    .card-type .table-body .table-row .card-cover span {
        width: 100px;
        height: 100px;
        font-size: 20pt;
        border-radius: 50%;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        position: relative;
        left: 33px;
    }

    .card-type .table-body .table-row .table-cell {
        margin-bottom: 2px;
        margin-top: 4px;
    }

    .card-type .table-body .table-row .table-cell {
        position: unset;
    }

    .card-type .item-options {
        border-radius: 6px;
        flex-flow: column;
    }

    .card-type .item-options>div {
        display: flex;
        flex: 1;
    }

    .card-type .item-options button {
        position: relative;
        font-size: 12pt;
        margin: auto;
        width: 100px;
        height: 35px;
    }

    .card-type .item-options>div:first-of-type button {
        top: 12px;
    }

    .card-type .item-options>div:last-of-type button {
        top: -12px;
    }

    .pointer {
        cursor: pointer;
    }

    .table-cell .complex-cell.editable {
        width: 46px;
        height: 18px;
        display: flex;
        padding: 2px;
        background-color: var(--color-border);
        color: var(--color-white-text);
        font-size: 10.5pt;
        border-radius: 3px;
        overflow: hidden;
    }

    .table-cell .complex-cell.editable.simple {
        display: flex;
        justify-content: center;
    }

    .table-cell .complex-cell.editable.descount * {
        color: var(--color-red);
    }

    .table-cell .complex-cell input {
        color: var(--color-black-text);
        text-align: center;
        font-size: 10.5pt;
        width: 25px;
        height: auto;
        border: none;
        background-color: transparent;
        -moz-appearance: textfield;
    }

    .table-cell .complex-cell input::-webkit-outer-spin-button,
    .table-cell .complex-cell input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .table-cell .remove-line {
        display: flex;
        align-items: center;
    }

    .table-cell.warn {
        color: var(--color-red);
    }
</style>