<settings-wrapper data="$data">
    <div class="partial splitted-editing establishment">
        <div class="left nice-scroll">

            <div class="description">
                <h3>Informações do Estabelecimento</h3>
            </div>

            <div class="row">
                <div class="value-area">
                    <div class="ident">
                        <p>Identificador</p>
                    </div>
                    <div class="value">
                        <p e-text="{{ (establishment.id !== 'N/A' ? establishment.id : '0').toString().padStart(4, 0) }}">
                            0000</p>
                    </div>
                </div>
                <div class="icon-area">
                    <span class="center-icon fa fa-circle"></span>
                </div>
            </div>

            <div class="row" on:click="loadSection('setting-establishment-name', {})">
                <div class="value-area">
                    <div class="ident">
                        <p>Nome</p>
                    </div>
                    <div class="value">
                        <p e-text="{{ establishment.nome || 'Loading...' }}">Nome Loja</p>
                    </div>
                </div>
                <div class="icon-area">
                    <span class="center-icon fa fa-angle-right"></span>
                </div>
            </div>

            <div class="row" on:click="loadSection('setting-establishment-address', {})">
                <div class="value-area">
                    <div class="ident">
                        <p>Morada</p>
                    </div>
                    <div class="value">
                        <p e-text="{{ establishment.endereco || 'Loading...' }}">Endereço</p>
                    </div>
                </div>
                <div class="icon-area">
                    <span class="center-icon fa fa-angle-right"></span>
                </div>
            </div>

            <div class="row" on:click="loadSection('setting-establishment-manager', { input: establishment })">
                <div class="value-area">
                    <div class="ident">
                        <p>Regime</p>
                    </div>
                    <div class="value">
                        <p e-text="{{ establishment.regime }}">Regime</p>
                    </div>
                </div>
                <div class="icon-area">
                    <span class="center-icon fa fa-angle-right"></span>
                </div>
            </div>

            <div class="row" on:click="loadSection('setting-establishment-manager', { input: establishment })">
                <div class="value-area">
                    <div class="ident">
                        <p>Gerente</p>
                    </div>
                    <div class="value">
                        <p e-text="{{ establishment.gerente }}">Gerente da Loja</p>
                    </div>
                </div>
                <div class="icon-area">
                    <span class="center-icon fa fa-angle-right"></span>
                </div>
            </div>

            <div class="row" e-if="!isLoading && establishment.id == ''">
                <div class="center-area">
                    <a :href="/settings/establishment/create">
                        Criar
                    </a>
                </div>
            </div>
        </div>
        <div class="right nice-scroll" id="loadable"></div>
    </div>
</settings-wrapper>
<script>
    var bouer = this.bouer;
    var web = app.deps['web']
    var component = this;

    this.on('mounted', function (el) {
        var estabelecimento = component.data.establishment;

        if (bouer.globalData.application.user.hasEstabelecimento == false) {
            var keys = Object.keys(estabelecimento);
            for (var k of keys) {
                if (k == 'id') continue;
                estabelecimento[k] = 'N/A';
            }
            return this.data.isLoading = false;
        }

        web('estabelecimento/info/user')
            .then(function (response) {
                var _data = response.data;
                if (!_data) return;

                var comuna = _data.comuna || {};
                estabelecimento.id = _data.id;
                estabelecimento.nome = _data.nome;
                estabelecimento.endereco = "N/A";

                if (!_data.gerente)
                    return estabelecimento.gerente = 'Indefinido';

                var pessoa = _data.gerente.usuario.pessoa;
                estabelecimento.gerente = [pessoa.primeiroNome, pessoa.ultimoNome].join(' ');
                estabelecimento.gerenteId = _data.gerente.id;
            })
            .finally(function () {
                component.data.isLoading = false;
            });
    })

    this.export({
        isLoading: true,
        establishment: {
            id: '',
            nome: '',
            endereco: '',
            gerente: '',
            regime: ''
        },
        active: 'establishment',
        loadSection: function (name, data) {
            var wrapper = bouer.$wait.get('setting-methods');
            return wrapper.loadSectionShared({
                'setting-establishment-name': true,
                'setting-establishment-address': true,
                'setting-establishment-manager': true,
                'setting-establishment-regime': true,
            }, name, data);
        }
    });
</script>