<inc src="settings-wrapper" data="{ active: 'establishment' }">
    <content>
        <div class="partial splitted-editing establishment">
            <div class="left">

                <div class="description">
                    <h3>Informações do Estabelecimento</h3>
                </div>

                <div class="row">
                    <div class="value-area">
                        <div class="ident">
                            <p>Identificador</p>
                        </div>
                        <div class="value">
                            <p e-content="{{ (establishment.id !== 'N/A' ? establishment.id : '0').toString().padStart(4, 0) }}">0000</p>
                        </div>
                    </div>
                    <div class="icon-area">
                        <span class="center-icon fa fa-circle"></span>
                    </div>
                </div>

                <div class="row" on:click="loadSection('setting-establishment-name', {})">
                    <div class="value-area">
                        <div class="ident">
                            <p>Nome</p>
                        </div>
                        <div class="value">
                            <p e-content="{{ establishment.nome || 'Loading...' }}">Nome Loja</p>
                        </div>
                    </div>
                    <div class="icon-area">
                        <span class="center-icon fa fa-angle-right"></span>
                    </div>
                </div>

                <div class="row" on:click="loadSection('setting-establishment-address', {})">
                    <div class="value-area">
                        <div class="ident">
                            <p>Morada</p>
                        </div>
                        <div class="value">
                            <p e-content="{{ establishment.endereco || 'Loading...' }}">Endereço</p>
                        </div>
                    </div>
                    <div class="icon-area">
                        <span class="center-icon fa fa-angle-right"></span>
                    </div>
                </div>

                <div class="row" on:click="loadSection('setting-establishment-manager', { input: establishment })">
                    <div class="value-area">
                        <div class="ident">
                            <p>Gerente</p>
                        </div>
                        <div class="value">
                            <p e-content="{{ establishment.gerente }}">Gerente da Loja</p>
                        </div>
                    </div>
                    <div class="icon-area">
                        <span class="center-icon fa fa-angle-right"></span>
                    </div>
                </div>

                <div class="row" e-if="!isLoading && establishment.id == ''">
                    <div class="center-area">
                        <a i:href="settings/establishment/create">
                            Criar
                        </a>
                    </div>
                </div>
            </div>
            <div class="right" id="loadable"></div>
        </div>
    </content>
</inc>
<script>
    var $easy = this.Easy;
    var component = this;
    var loadableComponents = {
        'setting-establishment-name': true,
        'setting-establishment-address': true,
        'setting-establishment-manager': true,
    };

    this.mounted = function (el) {
        var estabelecimento = component.data.establishment;

        if ($easy.data.application.user.hasEstabelecimento == false) {
            estabelecimento.keys(function (k, v) {
                estabelecimento[k] = 'N/A';
            });
            return component.data.isLoading = false;
        }

        $easy.get('estabelecimento/info/user')
            .then(function (data) {
                var _data = data.result;
                if (!_data) return;

                var comuna = _data.comuna || {};
                estabelecimento.id = _data.id;
                estabelecimento.nome = _data.nome;
                estabelecimento.endereco = [
                    _data.rua, 
                    _data.bairro, 
                    comuna.nome, 
                    (comuna.municipio || {}).nome, 
                    ((comuna.municipio || {}).provincia||{}).nome
                ].join(', ');

                if (!_data.gerente)
                    return estabelecimento.gerente = 'Indefinido';

                var pessoa = _data.gerente.usuario.pessoa;
                estabelecimento.gerente = [pessoa.primeiroNome, pessoa.ultimoNome].join(' ');
                estabelecimento.gerenteId = _data.gerente.id;
            })
            .catch(function (error) {
                notify({
                    type: 'error',
                    message: error.message || error
                });
            })
            .finally(function () {
                component.data.isLoading = false;
            });
    }

    this.export({
        isLoading: true,
        establishment: {
            id: '',
            nome: '',
            endereco: '',
            gerente: ''
        },
        loadSection: function (name, data) {
            // Checking if the name is ok
            if (!name) return;

            // Getting the container
            var container = $easy.el.node('#loadable');

            // Checking if the container is ok
            if (!container) return;

            // Checking if the component is valid
            if (!loadableComponents[name]) {
                return notify({
                    message: 'Secção Inexistente ou em criação.',
                    type: 'warn'
                });
            }

            // Clearing the container
            container.innerHTML = '';

            // Creating the INC element
            var inc = document.createElement('inc');

            // Setting the name
            inc.src = name;

            // Set data if it was defined
            if (data) inc.valueIn('data', JSON.stringify(data))

            // Adding in the container
            container.appendChild(inc);
        }
    });
</script>