<app-table class="fit-content" data="$data">
    <slot slot="table-head">
        <div class="table-cell"> Fornecedor </div>
        <div class="table-cell"> Produto </div>
        
        <div class="table-cell"> Preco de Compra </div>
        <div class="table-cell"> Preco de Venda </div>
        
        <div class="table-cell"> Quantd. de Entrada </div>
        <div class="table-cell"> Quantd. em Stock </div>

        <div class="table-cell"> Vendas (Akz) </div>
        
        <div class="table-cell"> Data de Compra </div>
        <div class="table-cell"> Data de Validade </div>
    </slot>
    <slot slot="table-body">
        <div class="table-row flex-it" e-skeleton e-req="item of compra?page={{navControl.page}}&size={{navControl.size}} 
            | where:search:produto.nome,produto.nomeSecundario,produto.codigo" on:request="onRequest"
            on:response="onResponse">
            <div class="card-cover"></div>

            <div class="pointer table-cell" e-text="{{ tofullName((item.fornecedor || {}).pessoa) || 'N/A' }}">
                Loading...
            </div>
            <div class="pointer table-cell" e-text="{{ item.produto.nome }}"> Loading... </div>
            
            <div class="table-cell" e-text="{{ item.precoUnitarioCompra }} Akz"> Loading... </div>
            <div class="table-cell" e-text="{{ item.precoUnitarioVenda }} Akz"> Loading... </div>
            
            <div class="table-cell" e-class="{ 'warn': item.quantidade <= minValueWarn }" e-text="{{ item.quantidadeEntrada }}"> Loading... </div>
            <div class="table-cell" e-text="{{ item.quantidade }}"> Loading... </div>

            <div class="table-cell" e-text="{{ ((item.quantidadeEntrada - item.quantidade) * item.precoUnitarioVenda) }} Akz"> Loading... </div>

            <div class="table-cell" e-text="{{ toDate(item.dataEntrada) }}"> Loading... </div>
            <div class="table-cell" e-text="{{ toDate(item.dataValidade) }}"> Loading... </div>
        </div>
    </slot>
</app-table>
<script>
    var bouer = this.bouer;
    var component = this;

    this.on('loaded', function () {
        // Marking the menu
        bouer.data.currentPage = 'Lista de Compras';
        bouer.$routing.markActiveAnchor(bouer.el.querySelector('.sell-link'));
    });

    this.export({
        minValueWarn: 10,
        search: '',
        navControl: {
            page: 1,
            size: 13,
            pages: 0
        },
        onSearch: function (str, input) {
            component.data.search = str;
            return; // TODO: Request in the server
            bouer.$skeleton.clear('data-loading');
        },
        onNextPage: function (control) {
            component.data.navControl = control;
        },
        onPrevPage: function (control) {
            component.data.navControl = control;
        },
        onRequest: function (evt) {
            // if (searcher) searcher.classList.add('loading-input');
        },
        onResponse: function (evt) {
            // if (searcher) searcher.classList.add('loading-input');
            var response = evt.detail.response;
            component.data.navControl.pages =
                response.pagination.totalPages;
        }
    });
</script>