<settings-wrapper data="$data">
    <div class="partial splitted-editing profile">
        <div class="left nice-scroll" e-req="loggedUser as sign/account">

            <div class="description">
                <h3>Informações Pessoais</h3>
            </div>

            <div class="row" on:click="loadSection('setting-profile-photo', {})">
                <div class="value-area">
                    <div class="img-icon"></div>
                </div>
                <div class="icon-area">
                    <span class="center-icon fa fa-angle-right"></span>
                </div>
            </div>

            <div class="row">
                <div class="value-area">
                    <div class="ident">
                        <p>Identificador</p>
                    </div>
                    <div class="value">
                        <p e-content="{{ (loggedUser.id || '0').padStart(10, 0) }}">
                            Loading...
                        </p>
                    </div>
                </div>
                <div class="icon-area">
                    <span class="center-icon fa fa-circle"></span>
                </div>
            </div>

            <div class="row">
                <div class="value-area">
                    <div class="ident">
                        <p>Utilizador</p>
                    </div>
                    <div class="value">
                        <p e-content="{{ loggedUser.userName || 'Loading...' }}">
                            Loading...
                        </p>
                    </div>
                </div>
                <div class="icon-area">
                    <span class="center-icon fa fa-circle"></span>
                </div>
            </div>

            <div class="row">
                <div class="value-area">
                    <div class="ident">
                        <p>Email</p>
                    </div>
                    <div class="value">
                        <p e-content="{{ loggedUser.email || 'Loading...' }}">Loading...</p>
                    </div>
                </div>
                <div class="icon-area">
                    <span class="center-icon fa fa-circle"></span>
                </div>
            </div>

            <div class="row" on:click="loadSection('setting-profile-name', {})">
                <div class="value-area">
                    <div class="ident">
                        <p>Nome</p>
                    </div>
                    <div class="value">
                        <p e-content="{{ loggedUser.nome || 'Loading...' }}">
                            Loading...
                        </p>
                    </div>
                </div>
                <div class="icon-area">
                    <span class="center-icon fa fa-angle-right"></span>
                </div>
            </div>

            <div class="row" on:click="loadSection('setting-profile-birth', {})">
                <div class="value-area">
                    <div class="ident">
                        <p>Nascimento</p>
                    </div>
                    <div class="value">
                        <p
                            e-content="{{ !loggedUser.user ? 'N/A' : toHumanBirthday(loggedUser.user.dataNascimento) }}">
                            Loading...</p>
                    </div>
                </div>
                <div class="icon-area">
                    <span class="center-icon fa fa-angle-right"></span>
                </div>
            </div>

            <div class="row" on:click="loadSection('setting-profile-password')">
                <div class="value-area">
                    <div class="ident">
                        <p>Senha</p>
                    </div>
                    <div class="value">
                        <p> •••••••••••• </p>
                    </div>
                </div>
                <div class="icon-area">
                    <span class="center-icon fa fa-angle-right"></span>
                </div>
            </div>
        </div>
        <div class="right nice-scroll" id="loadable"></div>
    </div>
</settings-wrapper>
<script>
    var bouer = this.bouer;
    var component = this;

    this.export({
        active: 'profile',
        loadSection: function (name, data) {
            var wrapper = bouer.$wait.get('setting-methods');
            return wrapper.loadSectionShared({
                'setting-profile-name': true,
                'setting-profile-birth': true,
                'setting-profile-photo': true,
                'setting-profile-password': true,
                'setting-profile-gender': true,
            }, name, data);
        }
    });
</script>