<inc src="settings-wrapper" data="{ active: 'apps' }">
    <content>
        <div class="partial settings-list-page apps">
            <div class="header">
                <h3>Aplicações Em Execução</h3>

                <div class="search-field">
                    <span class="fa fa-search"></span>
                    <input type="text" placeholder="Pesquisar por Lojas">
                </div>
            </div>
            <div class="remain">

                <inc src="table">
                    <content ident="table-head">
                        <div class="table-cell"> Nome </div>
                        <div class="table-cell"> Código </div>
                        <div class="table-cell"> Gerente </div>
                        <div class="table-cell"> Data de Criação </div>
                        <div class="table-cell"> Estado </div>
                    </content>
                    <content ident="table-body">
                        <div class="table-row flex-it" e-skeleton e-tmp="estabelecimento" e-use="item">
                            <div class="card-cover" e-content="{{ getAchronym(item.nome) }}"></div>
                            <div class="pointer table-cell" e-content="{{ item.nome }}"> Loading... </div>
                            <div class="pointer table-cell"
                                e-content="{{ (item.id + '').padStart(4, '0') }}"> Loading... </div>
                            <div class="pointer table-cell hidable"
                                e-content="{{ getPessoa(item.gerente) }}"> Loading...
                            </div>
                            <div class="pointer table-cell hidable" e-content="{{ toDate(item.createdAt) }}">
                                Loading... </div>
                            <div class="table-cell">
                                <span e-content="{{ item.visibility ? 'Activo' : 'Inactivo' }}"> Loading...
                                </span>
                                <div class="buttons-area" data="{}">
                                    <div class="item-options flex-it hide-it" e-def="{ showOptions: false }"
                                        e-class="{ 'hide-it': !showOptions }">
                                        <div>
                                            <button class="see">Ver</button>
                                        </div>
                                        <div>
                                            <button class="rem">Desactivar</button>
                                        </div>
                                    </div>
                                    <span title="Opções" on:click="showOptions = !showOptions"
                                        class="fa fa-dot-circle-o"></span>
                                </div>
                            </div>
                        </div>
                    </content>
                </inc>

            </div>
        </div>
    </content>
</inc>
<script>
    var $easy = this.Easy;
    var component = this;

    this.export({
        getPessoa: function (obj) {
            if (!obj)
                return 'N/A';

            var pessoa = ((obj.usuario || {}).pessoa || {});

            if (pessoa.primeiroNome && pessoa.ultimoNome)
                return 'N/A';

            return [pessoa.primeiroNome, pessoa.ultimoNome].join(' ');
        }
    });
</script>