<div class="main-body">
    <inc src="create-person"></inc>
</div>
<script>
    var easy = this.Easy;
    var sharedPersonCreation;
    var params = this.getParams();

    this.loaded = function (el) {
        // Marking the menu
        this.Easy.data.currentPage = 'Cadastrar um Cliente';

        this.Easy.routing.markActive(
            this.Easy.el.node('.customer-link')
        );
    }

    this.export({
        type: params.type,
        typeEntity: params.typeEntity,
        person: 'cliente',

        // Methods
        submit: function (evt) {
            // Getting the exposed method   
            sharedPersonCreation =  sharedPersonCreation || easy.retrieve('shared-person-creation-methods', true);

            // Submiting
            sharedPersonCreation.submitPerson(evt, "pessoa", "/customers/" + params.type);
        }
    });
</script>