<div class="main-body">
    <create-person data="$data"></create-person>
</div>
<script>
    var bouer = this.bouer;
    var sharedPersonMethods;
    var params = this.params();

    this.on('loaded', function (el) {
        // Marking the menu
        bouer.data.currentPage = 'Cadastrar um Cliente';
        bouer.$routing.markActiveAnchor(bouer.el.querySelector('.customer-link'));
    });

    this.export({
        typeEntity: params.typeEntity,
        person: 'cliente',

        // Methods
        submit: function (evt) {
            // Getting the exposed method   
            sharedPersonMethods =  sharedPersonMethods || bouer.$wait.get('shared-person-methods');

            var redirectTo = "/customers/" + params.typeEntity;
            redirectTo = params.src || redirectTo;

            // Submiting
            sharedPersonMethods.submitPerson(evt, "pessoa", redirectTo);
        }
    });
</script>