<app-table class="fit-content" data="$data">
    <slot slot="table-head">
        <div class="table-cell mid hidable"> Titulo </div>
        <div class="table-cell"> Primeiro Nome </div>
        <div class="table-cell"> Ultimo Nome </div>
        <div class="table-cell"> Identificação </div>
        <div class="table-cell hidable"> Gênero </div>
        <div class="table-cell"> Estado </div>
    </slot>
    <slot slot="table-body">
        <div class="table-row flex-it" e-skeleton
            e-for="item of dataList | where:search:pessoa.titulo.nome,pessoa.primeiroNome,pessoa.ultimoNome,pessoa.identificacao">
            <div class="card-cover">
                <span class="pointer shadow-it"> # </span>
            </div>
            <div class="pointer table-cell mid hidable" e-content="{{ item.pessoa.titulo.nome }}"> Loading... </div>
            <div class="pointer table-cell" e-content="{{ item.pessoa.primeiroNome }}"> Loading... </div>
            <div class="pointer table-cell" e-content="{{ item.pessoa.ultimoNome }}"> Loading... </div>
            <div class="pointer table-cell" e-content="{{ item.pessoa.identificacao }}"> Loading... </div>
            <div class="pointer table-cell hidable" e-content="{{ item.pessoa.genero.nome }}"> Loading... </div>
            <div class="table-cell">
                <span e-content="{{ 'Activo' }}"> Loading... </span>
                <div>
                    <div class="item-options flex-it hide-it">
                        <div>
                            <a :href="/customers/view/{{ item.pessoa.uid }}">
                                <button class="see">Ver</button>
                            </a>
                        </div>
                        <div>
                            <button class="rem">Eliminar</button>
                        </div>
                    </div>
                    <span title="Opções" onclick="event.target.previousElementSibling.classList.toggle('hide-it')"
                        class="fa fa-dot-circle-o"></span>
                </div>
            </div>
        </div>
    </slot>
</app-table>
<script>
    var table;
    var bouer = this.bouer;
    var component = this;
    var getData = (function (control, searcher) {
        getPartialData.call(bouer, {
            url: 'Entidade?codigoTipoEntidade=tec',
            search: this.data.search,
            controls: this.data.navControl = control,
            beforeRequest: function () {
                if (searcher) searcher.classList.add('loading-input');
            },
            onReponse: function (response) {
                component.data.dataList = response.data;
                component.data.navControl.pages = response.pagination.totalPages;
            },
            onFinish: function () {
                if (searcher) searcher.classList.remove('loading-input');
            }
        });
    }).bind(this);

    this.on('mounted', function () {
        getData(this.data.navControl);
    });

    this.on('loaded', function (el) {
        bouer.data.currentPage = 'Lista de Clientes';
        bouer.$routing.markActiveAnchor(bouer.el.querySelector('.customer-link'));
    })

    this.export({
        search: '',
        dataList: [],
        navControl: {
            page: 1,
            size: 13,
            pages: 0
        },
        onSearch: function (str, input) {
            component.data.search = str;
            return; // TODO: Request in the server
            getData({ page: 1, size: 13 }, input);
        },
        onNextPage: function (control) {
            getData(control);
        },
        onPrevPage: function (control) {
            getData(control);
        }
    });
</script>