<inc src="settings-wrapper" data="{ active: 'employees' }">
    <content>
        <div class="partial splitted-editing editable-left">
            <form class="left nice-scroll">
        
                <div class="description">
                    <h3>Adicionar Funcionário</h3>
                </div>

                <div class="row column-type">
                    <div class="input-field">
                        <label>Primeiro Nome</label>
                        <input type="text" name="PrimeiroNome" placeholder="Digite o Primeiro Nome">
                    </div>

                    <div class="input-field">
                        <label>Ultimo Nome</label>
                        <input type="text" name="UltimoNome" placeholder="Digite o Ultimo Nome">
                    </div>

                    <div class="input-field">
                        <label>Email</label>
                        <input type="email" name="Email" placeholder="Digite o Email">
                    </div>

                    <div class="input-field">
                        <label>Bilhete de Identidade</label>
                        <input type="text" name="Identificacao" placeholder="Digite o BI">
                    </div>

                    <div class="input-field">
                        <label>Data de Nascimento</label>
                        <input type="date" name="DataNascimento" placeholder="YYYY-MM-DD">
                    </div>

                    <div class="input-field">
                        <label>Titulo</label>
                        <select name="TituloId">
                            <option selected>Seleccione o Titulo</option>
                            <option e-tmp="Titulo" e-content="{{ nome }}" value="{{ id }}">Loading...</option>
                        </select>
                    </div>

                    <div class="input-field">
                        <label>Gênero</label>
                        <select name="GeneroId">
                            <option selected>Seleccione o Gênero</option>
                            <option e-tmp="Genero" e-content="{{ nome }}" value="{{ id }}">Loading...</option>
                        </select>
                    </div>

                    <div class="input-field">
                        <label>Estabelecimento</label>
                        <select name="EstabelecimentoId">
                            <option value="" selected>Seleccione o Estabelecimento</option>
                            <option e-tmp="estabelecimento" e-content="{{ nome }}" value="{{ id }}">Loading...</option>
                        </select>
                    </div>

                    <div class="input-field">
                        <label class="default-label block-it">Papeis a desempenhar</label>
                        <div class="default-container">

                            <span class="check-field" e-tmp="sign/roles" e-use="item" on:add="(function(evt){
                                if (evt.$data.model.item == 'funcionario')
                                    evt.base.node('.app-checkbox').checked = true;
                            })(event)">
                                <span data="{ item: item, code: this.code(5) }">
                                    <input class="app-checkbox" e-array name="Roles" id="check-{{ code }}" value="{{ item }}" type="checkbox">
                                    <label for="check-{{ code }}" e-content="{{ item }}">Loading...</label>
                                </span>
							</span>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="action-area btn-ordered">
                        <button type="reset" class="cancel-type" onclick="window.history.back()">Voltar</button>
                        <button type="button" class="submit-type" on:click="submit">Criar</button>
                    </div>
                </div>
            </form>
            <div class="right" id="loadable"></div>
        </div>
    </content>
</inc>
<script>
    var $easy = this.Easy;
    var component = this;

    this.export({
        submit: function (evt) {
            var btn = evt.base;
            var form = btn.aboveMe('form');
            
            if (hasSpinner(btn)) return;
            addOrRemSpinner(btn);

            $easy.create('funcionario', $easy.toJsObj(form))
                .then(function (data) {
                    notify({
                        type: 'success',
                        message: 'Registro Criado',
                        run: function () {
                            $easy.routing.navegate("/settings/employees");
                        }
                    });
                })
                .catch(function (error) {
                    notify({
                        type: 'error',
                        message: error.message || error
                    });
                })
                .finally(function () {
                    addOrRemSpinner(btn, true);
                });
        }    
    });
</script>