<inc src="settings-wrapper" data="{ active: 'employees' }">
    <content>
        <div class="partial settings-list-page employees">
            <div class="header">
                <h3>Funcionários</h3>

                <div class="search-area">
                    <div class="search-field">
                        <span class="fa fa-search"></span>
                        <input type="text" placeholder="Pesquisar por Funcionarios">
                    </div>
                    <div class="button-area">
                        <a i:href="/settings/employees/create" class="blue-type">Adicionar</a>
                    </div>
                </div>
            </div>

            <div class="remain">

                <inc src="table">
                    <content ident="table-head">
                        <div class="table-cell"> Codigo </div>
                        <div class="table-cell"> Nome </div>
                        <div class="table-cell"> Gênero </div>
                        <div class="table-cell"> Nascimento </div>
                        <div class="table-cell"> Estado </div>
                    </content>
                    <content ident="table-body">
                        <div class="table-row flex-it" e-skeleton e-tmp="funcionario" e-use="item">
                            <div class="card-cover" e-content="{{ getAchronym(item.usuario.pessoa.primeiroNome) }}"></div>

                            <div class="pointer table-cell" e-content="{{ item.usuario.codigo }}">Loading...
                            </div>

                            <div class="pointer table-cell" data="item.usuario.pessoa"
                                e-content="{{ [primeiroNome, ultimoNome].join(' ') }}">Loading... </div>

                            <div class="pointer table-cell" data="item.usuario.pessoa"
                                e-content="{{ genero.nome }}"> Loading... </div>

                            <div class="pointer table-cell hidable" data="item.usuario.pessoa"
                                e-content="{{ toDate(dataNascimento) }}"> Loading...</div>

                            <div class="table-cell">
                                <span e-content="{{ item.visibility ? 'Activo' : 'Inactivo' }}"> Loading...
                                </span>
                                <div class="buttons-area" data="{}">
                                    <div class="item-options flex-it hide-it" 
                                         e-def="{ showOptions: false }" 
                                         e-class="{ 'hide-it': !showOptions }">
                                        <div>
                                            <button class="see">Ver</button>
                                        </div>
                                        <div>
                                            <button class="rem">Desactivar</button>
                                        </div>
                                    </div>
                                    <span title="Opções" on:click="showOptions = !showOptions" class="fa fa-dot-circle-o"></span>
                                </div>
                            </div>

                        </div>
                    </content>
                </inc>

            </div>
        </div>
    </content>
</inc>
<script>
    var $easy = this.Easy;
    var component = this;
    this.loaded = function (el) {
        $easy.data.showSearchBar = false;
    }

    this.destroyed = function (el) {
        $easy.data.showSearchBar = true;
    }
</script>