<div class="main-body fit-content base-divide-structure dashboard nice-scroll">
    <div class="content">
        <div class="input-side">
            <div class="first-section dash-section">
                <div class="header">
                    <h3>Resumo Anual</h3>
                </div>

                <div class="dash-content">
                    <div class="card total-collected">
                        <div class="element-label">
                            <div class="label-container">
                                <label>Total Arrecadado</label>
                            </div>
                            <div class="input-field">
                                <select e-bind="selectedYear">
                                    <option e-for="item of anualInterval" value="{{ item }}"
                                        e-text="{{ currentYear == item ? 'Este Ano (' + item + ')' : item }}">Years
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="display-value">
                            <h2>34.607.000,00 AOA</h2>
                            <span class="center-icon fa fa-arrow-down"></span>
                        </div>

                        <div class="display-value">
                            <label>Ano: 2019</label>
                            <h3>40.618.000,00 AOA</h3>
                            <span class="center-icon fa fa-arrow-up"></span>
                        </div>

                        <div class="display-value">
                            <label>Ano: 2018</label>
                            <h4>26.689.000,00 AOA</h4>
                            <span class="center-icon fa fa-circle"></span>
                        </div>
                    </div>

                    <div class="card chart graph">
                        <div class="head">
                            <p e-text="Vendas de {{ selectedYear }}">Graph Chart</p>
                        </div>
                        <div class="body">
                            <div id="total-sales" class="chart-canvas"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sec-section dash-section">
                <div class="header">
                    <h3>Resumo Geral</h3>
                </div>

                <div class="dash-content">
                    <div class="card-container-wrapper">
                        <div class="card-container">
                            <div class="card">
                                <span class="center-icon icon fa fa-money"></span>
                                <div class="row top">
                                    <p>Total de Vendas (Hoje)</p>
                                </div>
                                <div class="row main">
                                    <h2>87.385 AOA</h2>
                                </div>
                                <div class="row extra">
                                    <h3>189 Itens</h3>
                                </div>
                            </div>

                            <div class="card">
                                <span class="center-icon icon fa fa-cube"></span>
                                <div class="row top">
                                    <p>Total de Compras (Novembro)</p>
                                </div>
                                <div class="row main">
                                    <h2>538 Itens</h2>
                                </div>
                                <div class="row extra">
                                    <h3>121 Produtos</h3>
                                </div>
                            </div>
                        </div>

                        <div class="card-container">
                            <div class="card">
                                <span class="center-icon icon fa fa-users"></span>
                                <div class="row top">
                                    <p>Total de Fornecedores</p>
                                </div>
                                <div class="row main">
                                    <h2>150 Entidade(s)</h2>
                                </div>
                                <div class="row main">
                                    <h3>10 Novos</h3>
                                </div>
                            </div>

                            <div class="card">
                                <span class="center-icon icon fa fa-user"></span>
                                <div class="row top">
                                    <p>Total de Clientes</p>
                                </div>
                                <div class="row main">
                                    <h2>1540 Entidade(s)</h2>
                                </div>
                                <div class="row main">
                                    <h3>40 Novos</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card chart graph">
                        <div class="head">
                            <p><b>%</b> Vendas de Funcionarios</p>
                        </div>
                        <div class="body">
                            <div id="selling-levels" class="chart-canvas"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="default-side">
            <div class="top-selling dash-section">
                <div class="header">
                    <h3>Top 10 Vendas (<span e-text="{{ currentMonth }}">Mês</span>)</h3>
                </div>

                <div class="card">
                    <ol>
                        <li e-for="item of items | order:desc:selling">
                            <div class="li-container">
                                <span class="li-name" e-text="{{ item.name }}">Name</span>
                                <span class="li-value" e-text="{{ item.selling }}">#0</span>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>

            <div class="total-items dash-section">
                <div class="header">
                    <h3>Stock</h3>
                </div>

                <div class="card total-items-container bubble-container">

                    <div class="head-bubble" e-for="product of items">
                        <div class="bubble-filler" e-style="background-color: {{ product.color }}40"></div>
                        <div class="bubble flex-it">
                            <div class="line" e-style="background-color: {{ product.color }}96"></div>
                            <div class="marker flex-it" e-style="background-color: {{ product.color }}96">
                                <p e-text="{{ acronym(product.name) }}">#</p>
                            </div>
                            <div class="text flex-it">
                                <span class="flex-it">
                                    <label class="high" e-text="{{ product.name }}">#</label>
                                </span>
                                <span class="flex-it">
                                    <label
                                        e-text="{{ product.qty > 1 ? (product.qty + ' Itens') : (product.qty + ' Item') }}">0
                                        Item</label>
                                </span>
                            </div>
                            <div class="ico flex-it">
                                <span class=""></span>
                            </div>
                        </div>
                    </div>

                    <div class="show-all">
                        <a :href="/stock/list">Visualizar Tudo</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>